.hero {
    margin: 2% 24%;
    .title {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    .container {
        border: solid 2px #000000;
        margin-bottom: 15px;
        cursor: pointer;
        height: auto;
        display: flex;
        &:hover {
            background-color: #d3d3d3;
        }
        .thumbnail {
            width: 30%;
            height: auto;
            object-fit: cover;
        }
        .text {
            width: 100%;
            height: auto;
            .calender {
                float: left;
                margin-left: 4px;
            }
            .date {
                margin: 2px 10px 0px 35px;
            }
            .ttl {
                margin: 10px 0 0 10px;
            }
            .explain {
                margin: 10px 0 0 10px;
                white-space: pre;
                color: #808080;
            }
        }
    }
}
