.top-title {
    text-align: center;
    color: pink;
}

/* contentful style */
.ctf {
    .title {
        color: blue;
        text-align: center;
    }
    .date {
        color: pink;
        text-align: center;
    }
    .description {
        color: green;
        text-align: center;
    }
    /* markdown */
    .article {
        margin: 2% 24%;
        code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
        }
        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
            code {
                padding: 0;
                font-size: inherit;
                color: inherit;
                white-space: pre-wrap;
                background-color: transparent;
                border-radius: 0;
            }
        }
        dd {
            margin: 0;
        }
        img {
            width: 20%;
        }
        blockquote {
            padding: 10px 20px;
            margin: 0 0 20px;
            font-size: 17.5px;
            border-left: 5px solid #eeeeee;
        }
    }
    /* markdown */
}
/* contentful style */
