.hero {
    margin: 2% 24%;
    .title {
        text-align: center;
    }
    .container {
        text-align: center;
        border: solid 2px #000000;
        margin-bottom: 15px;
        cursor: pointer;
        &:hover {
            background-color: #d3d3d3;
        }
        .thumbnail {
            img {
                width: 200px;
                height: 80%;
            }
        }
    }
}
